<!-- <form>
	<input name="username" type="text" placeholder="username" />
	<input name="password" type="password" placeholder="password" />
	<input type="button" value="Send" />
	
	<button (click)="message($event)">Hello!</button>
</form> -->

<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">{{title}}</div>
	<div class="panel-body">

		<form class="form-inline">
			<div class="form-group">
		      	<input name="productFilter" type="text" class="form-control" id="product-filter" placeholder="Product filter" [(ngModel)] = "productFilter">
			</div>
		  
			<button type="submit" class="btn btn-default">Filter</button>
		</form>

		<div class="">
			<h2>Filtered by: {{productFilter}}</h2>
		</div>
	
	</div>

	<div class="table-responsive">
		<table class="table table-hover" *ngIf="products && products.length">
			<thead>
				<tr>
					<th>
						<button class="btn btn-primary"
								(click)="toogleImages($event)">
								<span>{{showImages ? "Hide" : "Show"}} images</span>
						</button>
					</th>
					<th>Product name</th>
					<th>Code</th>
					<th>Available</th>
					<th>Price</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>

				<tr *ngFor="let product of products | productListFilter:productFilter">
					<td>&nbsp;
						<img *ngIf="showImages" 
							 src="{{product.imageUrl}}"
							 alt="product.name"
							 [title]="product.name" />
					</td>
					<td>{{product.name | uppercase}}</td>
					<td>{{product.code}}</td>
					<td>{{product.available}}
						<span *ngIf="product.available" class="glyphicon glyphicon-ok" aria-hidden="true"></span>

						<span *ngIf="!product.available" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</td>
					<!-- Currency pipe -->
					<!-- https://angular.io/api/common/CurrencyPipe -->
					<td>{{product.price | currency:'EUR':true:'1.2-2'}}</td>
					<td>
						<rating rating="{{product.rating}}" 
								(starClick)="onRatingClicked($event)">
						</rating>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

